*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:#00CCDD;
    --box-shadow:0px 3px 5px 0px rgba(0,0,0,0.34);
    --hover-shadow:0px 4px 4px 0px rgba(3,3,3,0.561);
    --nav-shadow:0px 0px 10px 0px rgba(0,0,0,100);
    --light-black:#141c3a;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    
}
.reward{
    width: 28%;
    margin: 100px auto;
}
.reward .rew{
    color:#0090dd ;
}
.container{
    width: 28%;
    margin: 100px auto;
}
form{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}
form label{
    margin: 5px 0;
}
form input[type=email],input[type=password],input[type=text]{
    height: 55px;
    margin: 15px 0px;
    border: 0.5px solid rgb(53, 53, 53);
    border-radius: 3px;
    padding: 0px 15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
form a {
    margin:10px 0px;
    text-decoration: none;
    color:var(--main-color) ;
    font-weight: bold;
}
form a:hover{
    color: #4F75FF;
}
form input[type=submit]{
    height: 50px;
    background: #4F75FF;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 2px;
    color: white;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: 0.3s ease;
}
form input[type=submit]:hover{
    box-shadow: var(--box-shadow);
    transform: translateY(-3px);
}
.footer h3{
  font-size: 16px;
  opacity: 0.9;
}
.reward img {
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: space-around;
    margin-top:15px ;
    margin-left: 5vw;
}
.reward  .battle{
    color: #ffd500;
   
}
.reward .vbucks{
    color: #00CCDD;
}
.reward  img{
    padding: 15px;
    transition: 0.3s ease;
}
.reward  img:hover{
    transform: translateY(-4px);
}
.container .epic{
    color: #00CCDD;
}
.last{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 20px 10px;
    text-shadow: 1px 0px 5px rgb(31, 31, 31);
    opacity: 0.78;
    border: none;
    
}


